<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a6ae54af-c2b7-499c-ada3-f02869883518/resourcegroups/LMSApp20221107212439ResourceGroup/providers/Microsoft.ContainerRegistry/registries/LMSApp20221111165339</ResourceId>
    <ResourceName>LMSApp20221111165339</ResourceName>
    <ResourceGroup>LMSApp20221107212439ResourceGroup</ResourceGroup>
    <Subscription>production: Banked Account sbusT</Subscription>
    <RegistryUrl>https://lmsapp20221111165339.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>29a8fe34-ac33-48c8-a753-26a302ea7c0a</ProjectGuid>
  </PropertyGroup>
</Project>